<html>
<head>
	<title>Wat</title>
	<link href="assets/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">

	</div>

	<div id="body">

		<center><a>Your results: Joe Smith - 93.3%; Mike Jones - 60%; Steve Brooks - 13.3%</a></center>
		<hr size="1">
		
		<div id="content">
			<h3>For context, please read this short news blurb about the candidates:</h3>

			<center>
			<div id="blurb">
				<p>"The presidential election is coming down to the wire and the candidates are neck-and-neck.  The latest polls show a statistical dead heat, with Mike Jones receiving 49 percent support, Joe Smith 48 percent, and third party challenger Steve Brooks just a mere 3 percent.  Both the Jones and Smith camps are busy..."<br><br>-AP</p>
			</div>
		</center>

			<a href="005.html">Continue</a>
		</div>
	</div>
</body>
	
