
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">

	</div>

	<div id="body">

		<center><a>Your results: Joe Smith - 93.3%; Mike Jones - 60%; Steve Brooks - 13.3%</a></center>
		<hr size="1">
		
		<div id="content">
			<h3>For context, please read this short news blurb about the candidates:</h3>

			<center>
			<div id="blurb">
				<p>""<br><br>-AP</p>
			</div>
		</center>

			<a href="005.html">Continue</a>

			<br><br><br>
			<%= @data[16] %>
		</div>
	</div>
	
