<p>This study examines how people vote.  In the following pages, we will ask you a number of questions about a fictitious presidential race and then ask you to vote. The study takes approximately 15 minutes to complete.  

Your participation in this study is voluntary and you can stop answering questions at any time.  The study is anonymous, which means we cannot link your answers back to you.  If you wish, you can enter a raffle for a chance to win a $100 Amazon Gift Card.  The information you provide to enter the raffle is confidential (your answers in the study are still anonymous as we cannot link your information back to your answers) and will not be provided to any third party.  

This study is being conducted by Prof. Tom Knecht, Associate Professor of Political Science at Westmont College.  If you have any questions or concerns, you can reach him at tknecht@westmont.edu or by phone at 805-565-6227.  

Westmont College's Institutional Review Board has approved this study on [date].  If you have any concerns about the way you have been treated, please contact [IRB Chair Contact Info]


By clicking this link, you agree to participate in this study. </p>

<form><input type="button" value="Take Survey" onclick="window.location.href='/survey/p001'"></form>