<div id="header">
	<h1>Welcome!</h1>
	<hr size="1">
</div>
<div id="body">
		<div id="content">
			<p>This study examines how people vote.  In the following pages, we will ask you a number of questions about a fictitious presidential race, ask you to vote, then ask some more questions about your political opinions. The study takes approximately 15 minutes to complete.  Your participation in this study is voluntary, your answers are anonymous, and you can stop answering questions at any time.</p>

			<p>This study is being conducted by Dr. Tom Knecht, Associate Professor of Political Science at Westmont College.  If you have any questions or concerns, you can reach him at tknecht@westmont.edu or by phone at 805-565-6227.</p>

			<p>Westmont College's Institutional Review Board has approved this study on September 6, 2012.  If you have any concerns about the way you have been treated, please contact IRB Chair, Dr. Lesa Stern, at lstern@westmont.edu or by phone at 805-565-6138.</p>

			<p>By clicking this link, you agree to participate in this study.</p>

			<p><a href="/survey/p001">Take Survey</a></p>
			
		</div>
</div>