<div id="header">
	<h1>Welcome!</h1>
	<hr size="1">
</div>
<div id="body">
		<div id="content">
			<p>Please select the option that applies to you:</p>
			<p><a href="/survey/p000m">I am taking this survey through Amazon Mechanical Turk.</a></p>
			<p><a href="/survey/p000s">I am taking this survey through my college/university.</a></p>
		</div>
</div>