
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">
	</div>

	<div id="body">
		

		<div id="content">
			<h3>Have you ever wondered which candidate best matches your views on the issues?  The following quiz will ask for your opinion on some of the top issues of the day, and tell you which candidate best matches your opinions. Please answer each question thoughtfully and honestly. </h3>
			<%= form_tag '/survey/p002' do -%>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>
			<button type="submit">Begin survey</button>
			<% end %>
		</div>
	</div>	
