<div id="header">
		<h1>Survey</h1>
		<hr size="1">
	</div>

	<div id="body">
		<div id="content">

		<%= form_tag 'p0013' do -%>

		<h3> Demographics</h3>

			<div class="question">
				<p>27. How old are you?</p>
					<input type="text" name="q27" value="0" id="q27_0" />
					<label for="q27_0"></label><br>

			</div>

			<div class="question">
				<p>28. Are you Male or Female?</p>
					<input type="radio" name="q28" value="0" id="q28_0" />
					<label for="q28_0">Male</label><br>
					<input type="radio" name="q28" value="0" id="q28_1" />
					<label for="q28_1">Female</label><br>
			</div>

			<div class="question">
				<p>29. What state do you live in?</p>
					<input type="text" name="q29" value="0" id="q29_0" />
					<label for="q29_0"></label><br>

			</div>


			<div class="question">
				<p>30. What is the highest level of education you have obtained?</p>
					<input type="radio" name="q30" value="0" id="q30_0" />
					<label for="q30_0">Did not graduate</label><br>
					<input type="radio" name="q30" value="0" id="q30_1" />
					<label for="q30_1">High school diploma (including AA)</label><br>
					<input type="radio" name="q30" value="0" id="q30_2" />
					<label for="q30_2">I am currently in college</label><br>
					<input type="radio" name="q30" value="0" id="q30_3" />
					<label for="q30_3">I have completed my undergraduate degree (MA or BA)</label><br>
					<input type="radio" name="q30" value="0" id="q30_4" />
					<label for="q30_4">I am currently in graduate school</label><br>
					<input type="radio" name="q30" value="0" id="q30_5" />
					<label for="q30_5">I have completed an advanced degree (e.g., Masters, Doctorate, MBA, MD, JD, etc.)</label><br>
					<label for="q30_6">Other </label>
					<input type="text" name="q30" value="0" id="q30_6" />
					<br>

			</div>

			<div class="question">
				<p>31. Are you a college student?</p>
					<input type="radio" name="q31" value="0" id="q31_0" />
					<label for="q31_0">Yes</label><br>
					<input type="radio" name="q31" value="0" id="q31_1" />
					<label for="q31_1">No</label><br>

			</div>
 [If Q38 = yes, then]

			<div class="question">
				<p>32. Where do you go to college?</p>
					<input type="radio" name="q32" value="0" id="q32_0" />
					<label for="q32_0">Westmont College</label><br>
					<input type="radio" name="q32" value="0" id="q32_1" />
					<label for="q32_1">UCSB</label><br>
					<input type="radio" name="q32" value="0" id="q32_2" />
					<label for="q32_2">SBCC</label><br>
					<input type="radio" name="q32" value="0" id="q32_3" />
					<label for="q32_3">University of Denver</label><br>
					<input type="radio" name="q32" value="0" id="q32_4" />
					<label for="q32_4">SUNY Postdam</label><br>
					<label for="q32_5">Other</label>
					<input type="text" name="q32" value="0" id="q32_5" />
					<br>

			</div>


			<br><br>

			<button type="submit">Continue</button>

			<% end %>

		</div>
	</div>
