<% if session['session_id'] -%>
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">

        <script type="text/javascript">
            function validatePage() {
                var isValid = true;
                var error = "";

                //Loop through to see if there are any errors, going in reverse
                //Question 1
                if(!isRadioSelected("n15")){ isValid = false; error = getErrorText(15); }
                if(!isRadioSelected("n14")){ isValid = false; error = getErrorText(14); }
                if(!isRadioSelected("n13")){ isValid = false; error = getErrorText(13); }
                if(!isRadioSelected("n12")){ isValid = false; error = getErrorText(12); }
                if(!isRadioSelected("n11")){ isValid = false; error = getErrorText(11); }
                if(!isRadioSelected("n10")){ isValid = false; error = getErrorText(10); }
                if(!isRadioSelected("n09")){ isValid = false; error = getErrorText(9); }
                if(!isRadioSelected("n08")){ isValid = false; error = getErrorText(8); }
                if(!isRadioSelected("n07")){ isValid = false; error = getErrorText(7); }
                if(!isRadioSelected("n06")){ isValid = false; error = getErrorText(6); }
                if(!isRadioSelected("n05")){ isValid = false; error = getErrorText(5); }
                if(!isRadioSelected("n04")){ isValid = false; error = getErrorText(4); }
                if(!isRadioSelected("n03")){ isValid = false; error = getErrorText(3); }
                if(!isRadioSelected("n02")){ isValid = false; error = getErrorText(2); }
                if(!isRadioSelected("n01")){ isValid = false; error = getErrorText(1); }

                if (isValid == true) {
                    frm.submit();
                } else {
                    document.getElementById("errorText").innerHTML = error;
                    alert(error);
                }
            }

            function isRadioSelected(nme) {
                var isChecked = false;
                for(var i = 0; i < document.getElementsByName(nme).length; i++)
                {
                    if(document.getElementsByName(nme)[i].checked == true){ return true; }
                }
                return false;
            }

            function getErrorText(question)
            {
                return "Question " + question + " has not been answered yet.";
            }

        </script>

	</div>

	<div id="body">
		<div id="content">
			<h3>There are a number of important issues in any election.  Please tell us your opinion on the following 15 hot-button issues.  On many questions, people are torn between two options.  If you find yourself torn between two choices, try to select the option <i>closest</i> to your opinion.  </h3>

			<%= form_tag 'p003', :id => 'frm' do -%>

            <div id="errorText" style="color:#ff0000;font-style:italic;"></div><br/>

			<div class="question">
					<p>1. Do you think that we should increase our spending on national defense, keep it about the same, or cut it back?</p>
					<input type="radio" name="n01" value="+1" id="n01__1" />
					<label for="n01__1">Increase defense spending</label><br>
					<input type="radio" name="n01" value="0" id="n01_0" />
					<label for="n01_0">Keep it about the same</label><br>
					<input type="radio" name="n01" value="-1" id="n01_-1" />
					<label for="n01_-1">Cut it back</label><br>
			</div>

			<div class="question">
					<p>2. If you were making up the budget for the federal government this year (2012), would you increase spending, decrease spending or keep spending the same for health care?</p>
					
					<input type="radio" name="n02" value="-1" id="n02_-1" />
					<label for="n02_-1">Increase spending</label><br>
					<input type="radio" name="n02" value="0" id="n02_0" />
					<label for="n02_0">Keep spending the same</label><br>
					<input type="radio" name="n02" value="+1" id="n02_+1" />
					<label for="n02_+1">Decrease spending</label><br>
			</div>

			<div class="question">
					<p>3. Would you support or oppose building a security fence along the US (United States)-Mexico border to try to stop illegal immigration?</p>
					
					<input type="radio" name="n03" value="+1" id="n03_+1" />
					<label for="n03_+1">Support building a fence</label><br>
					<input type="radio" name="n03" value="-1" id="n03_-1" />
					<label for="n03_-1">Oppose building a fence</label><br>
			</div>

			<div class="question">
					<p>4. In your view, what is the best way to reduce the federal budget deficit? Should we mostly focus on cutting major programs, mostly focus on increasing taxes, or should we do a combination of both?</p>
					
					<input type="radio" name="n04" value="+1" id="n04_+1" />
					<label for="n04_+1">Cut major programs</label><br>
					<input type="radio" name="n04" value="-1" id="n04_-1" />
					<label for="n04_-1">Increase taxes</label><br>
					<input type="radio" name="n04" value="0" id="n04_0" />
					<label for="n04_0">A combination of both</label><br>
			</div>

			<div class="question">
					<p>5. As it conducts the war on terrorism, do you think the United States government is or is not doing enough to protect the civil liberties of American citizens?</p>
					
					<input type="radio" name="n05" value="+1" id="n05_+1" />
					<label for="n05_+1">Doing enough to protect civil liberties</label><br>
					<input type="radio" name="n05" value="-1" id="n05_-1" />
					<label for="n05_-1">Not doing enough to protect civil liberties</label><br>
			</div>

			<div class="question">
					<p>6. Do you think it should be legal or not legal for same-sex couples to marry?</p>
					
					<input type="radio" name="n06" value="-1" id="n06_-1" />
					<label for="n06_-1">Legal</label><br>
					<input type="radio" name="n06" value="+1" id="n06_+1" />
					<label for="n06_+1">Illegal</label><br>
			</div>

			<div class="question">
					<p>7. When there is a conflict between environmental protection and economic growth, which do you think is more important?</p>
					
					<input type="radio" name="n07" value="-1" id="n07_-1" />
					<label for="n07_-1">Protecting the environment</label><br>
					<input type="radio" name="n07" value="+1" id="n07_+1" />
					<label for="n07_+1">Economic growth</label><br>
			</div>

			<div class="question">
					<p>8. Do you think the US (United States) is doing the right thing by fighting the war in Afghanistan now, or should the US not be involved in Afghanistan now?</p>
					
					<input type="radio" name="n08" value="+1" id="n08_+1" />
					<label for="n08_+1">Right thing</label><br>
					<input type="radio" name="n08" value="-1" id="n08_-1" />
					<label for="n08_-1">Should not be involved</label><br>
			</div>

			<div class="question">
					<p>9. In your opinion, which is more important? </p>
					
					<input type="radio" name="n09" value="+1" id="n09_+1" />
					<label for="n09_+1">Preventing Iran from developing nuclear weapons, even if it means taking military action.</label><br>
					<input type="radio" name="n09" value="-1" id="n09_-1" />
					<label for="n09_-1">Avoiding a military conflict with Iran, even if it means they may develop nuclear weapons.</label><br>
			</div>

			<div class="question">
					<p>10. What do you think is more important--to protect the right of Americans to own guns, or to control gun ownership?</p>
					
					<input type="radio" name="n10" value="+1" id="n10_+1" />
					<label for="n10_+1">Protecting the right to own guns</label><br>
					<input type="radio" name="n10" value="-1" id="n10_-1" />
					<label for="n10_-1">Controlling gun ownership</label><br>
			</div>

			<div class="question">
					<p>11. Which of the following two statements about the role of government comes closest to your point of view?</p>
					
					<input type="radio" name="n11" value="-1" id="n11_-1" />
					<label for="n11_-1">Government should do more to solve problems and help meet the needs of people.</label><br>
					<input type="radio" name="n11" value="+1" id="n11_+1" />
					<label for="n11_+1">Government is doing too many things better left to businesses and individuals.</label><br>
			</div>

			<div class="question">
					<p>12. In general, government grows bigger as it provides more services.  If you had to choose, would you rather have a smaller government providing less services, or a bigger government providing more services.</p>
					
					<input type="radio" name="n12" value="+1" id="n12_+1" />
					<label for="n12_+1">Smaller government, less services</label><br>
					<input type="radio" name="n12" value="-1" id="n12_-1" />
					<label for="n12_-1">Bigger government, more services</label><br>
			</div>

			<div class="question">
					<p>13. Which punishment do you prefer for people convicted of murder: the death penalty or life in prison with no chance of parole?</p>
					
					<input type="radio" name="n13" value="+1" id="n13_+1" />
					<label for="n13_+1">Death penalty</label><br>
					<input type="radio" name="n13" value="-1" id="n13_-1" />
					<label for="n13_-1">Life in prison</label><br>
			</div>

			<div class="question">
					<p>14. Do you think the government should require all Americans to have health insurance?</p>
					
					<input type="radio" name="n14" value="-1" id="n14_-1" />
					<label for="n14_-1">Should require</label><br>
					<input type="radio" name="n14" value="+1" id="n14_+1" />
					<label for="n14_+1">Should not require</label><br>
			</div>

			<div class="question">
					<p>15. With respect to the abortion issue, do you consider yourself pro-choice or pro-life?</p>
					
					<input type="radio" name="n15" value="-1" id="n15_-1" />
					<label for="n15_-1">Pro-choice</label><br>
					<input type="radio" name="n15" value="+1" id="n15_+1" />
					<label for="n15_+1">Pro-life</label><br>
			</div>

			<br><br>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>
			<button type="button" onclick="validatePage()">Continue</button>

			<% end %>
		</div>
	</div>
<% else %>
	Sorry, you must have cookies to use this website, but your browser seems to have them disabled.  Please enable cookies and press the back button.
<% end %>
	
