<div id="header">
		<h1>Survey</h1>
		<hr size="1">
        <script type="text/javascript">
            function validatePage() {
                var isValid = true;
                var error = "";

                //Loop through to see if there are any errors, going in reverse
                if(!isRadioSelected("q11")){ isValid = false; error = getErrorText(11); }
                if(!isRadioSelected("q10")){ isValid = false; error = getErrorText(10); }
                if(!isRadioSelected("q09")){ isValid = false; error = getErrorText(9); }
                if(!isRadioSelected("q08")){ isValid = false; error = getErrorText(8); }
                if(!isRadioSelected("q07")){ isValid = false; error = getErrorText(7); }

                if (isValid == true) {
                    frm.submit();
                } else {
                    document.getElementById("errorText").innerHTML = error;
                    alert(error);
                }
            }

            function isRadioSelected(nme) {
                var isChecked = false;
                for(var i = 0; i < document.getElementsByName(nme).length; i++)
                {
                    if(document.getElementsByName(nme)[i].checked == true){ return true; }
                }
                return false;
            }

            function getErrorText(question)
            {
                return "Question " + question + " has not been answered yet.";
            }
        </script>
	</div>

<div id="body">
		<div id="content">


	<%= form_tag 'p009', :id => 'frm' do -%>

	

            <div id="errorText" style="color: #ff0000;"></div>

			<div class="question">
				<p>7. 'Sometimes, politics and government seem so complicated that a person like me can't really understand what's going on.’</p>
					<input type="radio" name="q07" value="0" id="q07_0" />
					<label for="q07_0">Agree strongly</label><br>
					<input type="radio" name="q07" value="1" id="q07_1" />
					<label for="q07_1">Agree somewhat</label><br>
					<input type="radio" name="q07" value="2" id="q07_2" />
					<label for="q07_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q07" value="3" id="q07_3" />
					<label for="q07_3">Disagree somewhat</label><br>
					<input type="radio" name="q07" value="4" id="q07_4" />
					<label for="q07_4">Disagree strongly</label><br>
			</div>

			<div class="question">
				<p>8. 'I feel that I have a pretty good understanding of the important political issues facing our country.'</p>
					<input type="radio" name="q08" value="0" id="q08_0" />
					<label for="q08_0">Agree strongly</label><br>
					<input type="radio" name="q08" value="1" id="q08_1" />
					<label for="q08_1">Agree somewhat</label><br>
					<input type="radio" name="q08" value="2" id="q08_2" />
					<label for="q08_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q08" value="3" id="q08_3" />
					<label for="q08_3">Disagree somewhat</label><br>
					<input type="radio" name="q08" value="4" id="q08_4" />
					<label for="q08_4">Disagree strongly</label><br>
			</div>

			<div class="question">
				<p>9. “Public officials don’t care about what people think.”</p>
					<input type="radio" name="q09" value="0" id="q09_0" />
					<label for="q09_0">Agree strongly</label><br>
					<input type="radio" name="q09" value="1" id="q09_1" />
					<label for="q09_1">Agree somewhat</label><br>
					<input type="radio" name="q09" value="2" id="q09_2" />
					<label for="q09_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q09" value="3" id="q09_3" />
					<label for="q09_3">Disagree somewhat</label><br>
					<input type="radio" name="q09" value="4" id="q09_4" />
					<label for="q09_4">Disagree strongly</label><br>
			</div>

			<div class="question">
				<p>10. “People like me don’t have any say about what the government does.” </p>
					<input type="radio" name="q10" value="0" id="q10_0" />
					<label for="q10_0">Agree strongly</label><br>
					<input type="radio" name="q10" value="1" id="q10_1" />
					<label for="q10_1">Agree somewhat</label><br>
					<input type="radio" name="q10" value="2" id="q10_2" />
					<label for="q10_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q10" value="3" id="q10_3" />
					<label for="q10_3">Disagree somewhat</label><br>
					<input type="radio" name="q10" value="4" id="q10_4" />
					<label for="q10_4">Disagree strongly</label><br>
			</div>


			<div class="question">
				<p>11. How interested are you in information about what's going on in government and politics?</p>
					<input type="radio" name="q11" value="0" id="q11_0" />
					<label for="q11_0">Extremely interested</label><br>
					<input type="radio" name="q11" value="1" id="q11_1" />
					<label for="q11_1">Very interested</label><br>
					<input type="radio" name="q11" value="2" id="q11_2" />
					<label for="q11_2">Moderately interested</label><br>
					<input type="radio" name="q11" value="3" id="q11_3" />
					<label for="q11_3">Slightly interested</label><br>
					<input type="radio" name="q11" value="4" id="q11_4" />
					<label for="q11_4">Not interested at all</label><br>
			</div>

			<br><br>

			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>

            <input type="button" name="commit" onclick="validatePage()" value="Continue" />

			<% end %>

<%= @data %>
		</div>
	</div>
