<div id="header">
		<h1>Survey</h1>
		<hr size="1">
    <script type="text/javascript">
        function validatePage() {
            var isValid = true;
            var error = "";

            //Loop through to see if there are any errors, going in reverse
            if(!isRadioSelected("q11")){ isValid = false; error = getErrorText(11); }

            if (isValid == true) {
                frm.submit();
            } else {
                document.getElementById("errorText").innerHTML = error;
                alert(error);
            }
        }

        function isRadioSelected(nme) {
            var isChecked = false;
            for(var i = 0; i < document.getElementsByName(nme).length; i++)
            {
                if(document.getElementsByName(nme)[i].checked == true){ return true; }
            }
            return false;
        }

        function getErrorText(question)
        {
            return "Question " + question + " has not been answered yet.";
        }
    </script>
	</div>

	<div id="body">
		<div id="content">

		<%= form_tag 'p009', :id => 'frm' do -%>

		<h3>Interest and Knowledge</h3>

            <div id="errorText" style="color: red;"></div>

			<div class="question">
				<p>11. How interested are you in information about what's going on in government and politics?</p>
					<input type="radio" name="q11" value="0" id="q11_0" />
					<label for="q11_0">Extremely interested</label><br>
					<input type="radio" name="q11" value="1" id="q11_1" />
					<label for="q11_1">Very interested</label><br>
					<input type="radio" name="q11" value="2" id="q11_2" />
					<label for="q11_2">Moderately interested</label><br>
					<input type="radio" name="q11" value="3" id="q11_3" />
					<label for="q11_3">Slightly interested</label><br>
					<input type="radio" name="q11" value="4" id="q11_4" />
					<label for="q11_4">Not interested at all</label><br>
			</div>

			<br><br>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>

            <input type="button" name="commit" onclick="validatePage()" value="Continue" />

			<% end %>
<%= @data %>

		</div>
	</div>

