<div id="header">
		<h1>Survey</h1>
		<hr size="1">

    <script type="text/javascript">
        function validatePage() {
            var isValid = true;
            var error = "";

            //Loop through to see if there are any errors, going in reverse
            if(!isRadioSelected("q18")){ isValid = false; error = getErrorText(14); }
            if(!isRadioSelected("q19")){ isValid = false; error = getErrorText(15); }
            if(!isRadioSelected("q20")){ isValid = false; error = getErrorText(16); }
            if (document.getElementsByName("q20")[2].checked == true) {
                if(!isRadioSelected("q21")){ isValid = false; error = getErrorText(17); }
            }

            if (isValid == true) {
                frm.submit();
            } else {
                document.getElementById("errorText").innerHTML = error;
                alert(error);
            }
        }

        function getQuestion21(show) {
            if (show == true)
            {
                document.getElementById("q21ID").style.display = "block";
            } else {
                document.getElementById("q21ID").style.display = "none";
            }
        }
    </script>

	</div>

	<div id="body">
		<div id="content">

<%= form_tag 'p011', :id => 'frm' do -%>



            <div id="errorText" style="color:red"></div>

			<div class="question">
				<p>14. 'It is important to vote in elections, because if I didn’t, things might be turn out for the worse.'</p>
					<input type="radio" name="q18" value="0" id="q18_0" />
					<label for="q18_0">Agree strongly</label><br>
					<input type="radio" name="q18" value="1" id="q18_1" />
					<label for="q18_1">Agree somewhat</label><br>
					<input type="radio" name="q18" value="2" id="q18_2" />
					<label for="q18_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q18" value="3" id="q18_3" />
					<label for="q18_3">Disagree somewhat</label><br>
					<input type="radio" name="q18" value="4" id="q18_4" />
					<label for="q18_4">Disagree strongly</label><br>
			</div>


			<div class="question">
				<p>15. 'So many other people vote in the national elections that it doesn't matter much to me whether I vote or not.'</p>
					<input type="radio" name="q19" value="0" id="q19_0" />
					<label for="q19_0">Agree strongly</label><br>
					<input type="radio" name="q19" value="1" id="q19_1" />
					<label for="q19_1">Agree somewhat</label><br>
					<input type="radio" name="q19" value="2" id="q19_2" />
					<label for="q19_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q19" value="3" id="q19_3" />
					<label for="q19_3">Disagree somewhat</label><br>
					<input type="radio" name="q19" value="4" id="q19_4" />
					<label for="q19_4">Disagree strongly</label><br>
			</div>

			<div class="question">
				<p>16. Please read the following statements.  In general, which statement do you most agree with?</p>
					<input type="radio" name="q20" value="0" id="q20_0" onclick="getQuestion21(false)" />
					<label for="q20_0">Elections are a selection process in which I use my vote to help elect a candidate for public office.</label><br>
					<input type="radio" name="q20" value="1" id="q20_1" onclick="getQuestion21(false)" />
					<label for="q20_1">Elections are form of expression in which I use my vote to voice my opinion with government.</label><br>
					<input type="radio" name="q20" value="2" id="q20_2" onclick="getQuestion21(true)" />
					<label for="q20_2">I agree with both statements.</label><br>
			</div>

			<div class="question" id="q21ID" style="display: none;">
				<p>17. A lot of people agree with both statements.  But if you had to pick the statement you agree with most, what would you say?</p>
					<input type="radio" name="q21" value="0" id="q21_0" />
					<label for="q21_0">Elections are a selection process in which I use my vote to help elect a candidate for public office.</label><br>
					<input type="radio" name="q21" value="1" id="q21_1" />
					<label for="q21_1">Elections are form of expression in which I use my vote to voice my opinion with government.</label><br>
					<input type="radio" name="q21" value="2" id="q21_2" />
					<label for="q21_2">I cannot say... I agree with both statements equally.</label><br>
			</div>	

 
  			<br><br>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>

            <input type="button" name="commit" onclick="validatePage()" value="Continue" />

			<% end %>
<%= @data %>


		</div>
	</div>
