<div id="header">
		<h1>Survey</h1>
		<hr size="1">
	</div>

	<div id="body">
		<div id="content">

<%= form_tag 'p011' do -%>

<h3> Consider the following statements about voting. Please tell me how strongly you agree or disagree with each of them.</h3>




			<div class="question">
				<p>18. It is important to vote in elections, because if I didn’t, things might be turn out for the worse.</p>
					<input type="radio" name="q18" value="0" id="q18_0" />
					<label for="q18_0">Agree strongly</label><br>
					<input type="radio" name="q18" value="1" id="q18_1" />
					<label for="q18_1">Agree somewhat</label><br>
					<input type="radio" name="q18" value="2" id="q18_2" />
					<label for="q18_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q18" value="3" id="q18_3" />
					<label for="q18_3">Disagree somewhat</label><br>
					<input type="radio" name="q18" value="4" id="q18_4" />
					<label for="q18_4">Disagree strongly</label><br>
			</div>


			<div class="question">
				<p>19. So many other people vote in the national elections that it doesn't matter much to me whether I vote or not.</p>
					<input type="radio" name="q19" value="0" id="q19_0" />
					<label for="q19_0">Agree strongly</label><br>
					<input type="radio" name="q19" value="1" id="q19_1" />
					<label for="q19_1">Agree somewhat</label><br>
					<input type="radio" name="q19" value="2" id="q19_2" />
					<label for="q19_2">Neither agree nor disagree</label><br>
					<input type="radio" name="q19" value="3" id="q19_3" />
					<label for="q19_3">Disagree somewhat</label><br>
					<input type="radio" name="q19" value="4" id="q19_4" />
					<label for="q19_4">Disagree strongly</label><br>
			</div>

			<div class="question">
				<p>20. Please read the following statements.  In general, which statement to you most agree with?</p>
					<input type="radio" name="q20" value="0" id="q20_0" />
					<label for="q20_0">Elections are a selection process in which I use my vote to help elect a candidate for public office.</label><br>
					<input type="radio" name="q20" value="1" id="q20_1" />
					<label for="q20_1">Elections are form of expression in which I use my vote to voice my opinion with government.</label><br>
					<input type="radio" name="q20" value="2" id="q20_2" />
					<label for="q20_2">I agree with both statements.</label><br>
			</div>


	[If q23 = c] 
			<div class="question">
				<p>21. A lot of people agree with both statements.  But if you had to pick the statement you agree with most, what would you say?</p>
					<input type="radio" name="q21" value="0" id="q21_0" />
					<label for="q21_0">Elections are a selection process in which I use my vote to help elect a candidate for public office.</label><br>
					<input type="radio" name="q21" value="1" id="q21_1" />
					<label for="q21_1">Elections are form of expression in which I use my vote to voice my opinion with government.</label><br>
					<input type="radio" name="q21" value="2" id="q21_2" />
					<label for="q21_2">I cannot say... I agree with both statements equally.</label><br>
			</div>	

 
  			<br><br>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>

			<%= submit_tag "Continue" %>

			<% end %>
<%= @data %>


		</div>
	</div>
