<div id="header">
		<h1>Survey</h1>
		<hr size="1">
    <script type="text/javascript">
        function validatePage() {
            var isValid = true;
            var error = "";

            //Loop through to see if there are any errors, going in reverse
            if(!isRadioSelected("q26")){ isValid = false; error = getErrorText(22); }
            if(!isRadioSelected("q25")){ isValid = false; error = getErrorText(21); }
            if(!isRadioSelected("q24")){ isValid = false; error = getErrorText(20); }

            //Loop through the text boxes
            if (!isTextBoxRangeValid("q22a")){ isValid = false; error = "Range is not a valid number"; }
            if (!isTextBoxRangeValid("q22b")){ isValid = false; error = "Range is not a valid number"; }
            if (!isTextBoxRangeValid("q22c")){ isValid = false; error = "Range is not a valid number"; }
            if (!isTextBoxRangeValid("q22d")){ isValid = false; error = "Range is not a valid number"; }
            if (!isTextBoxRangeValid("q22e")){ isValid = false; error = "Range is not a valid number"; }

            if (isValid == true) {
                frm.submit();
            } else {
                document.getElementById("errorText").innerHTML = error;
                alert(error);
            }
        }

        function getQuestion25(show) {
            for(var i = 0; i < document.getElementsByName("q25"); i++)
            {
                document.getElementsByName("q25")[i].checked = false;
            }

            if (show == true)
            {
                document.getElementById("q25IDa").style.display = "block";
                document.getElementById("q25IDb").style.display = "none";
                document.getElementById("q26ID").style.display = "block";
            } else {
                document.getElementById("q25IDa").style.display = "none";
                document.getElementById("q25IDb").style.display = "block";
                document.getElementById("q26ID").style.display = "block";
            }
        }
    </script>
	</div>

	<div id="body">
		<div id="content">

<%= form_tag 'p012', :id => 'frm' do -%>

            <div id="errorText" style="color: red;"></div>

			<div class="question">
				<p>18. Think of a scale ranging from 0 (strongly dislike) to 100 (strongly like).  How would you rate…</p>
					 
					<label for="q22a_0">The Democratic Party</label>
					<input type="text" name="q22a" value="" id="q22a_0" /> <br>
					<label for="q22b_1">The Republican Party</label>
					<input type="text" name="q22b" value="" id="q22b_1" /> <br>
					<label for="q22c_2">The Green Party</label>
					<input type="text" name="q22c" value="" id="q22c_2" /> <br>
					<label for="q22d_3">The Reform Party</label>
					<input type="text" name="q22d" value="" id="q22d_3" /> <br>
					<label for="q22e_4">The Libertarian Party</label>
					<input type="text" name="q22e" value="" id="q22e_4" /> <br>
			</div>


			<div class="question">
				<p>19. Do you think there are any important differences in what the Republicans and Democrats stand for?</p>
					<input type="radio" name="q23" value="0" id="q23_0" />
					<label for="q23_0">Yes, there are important differences</label><br>
					<input type="radio" name="q23" value="1" id="q23_1" />
					<label for="q23_1">No, there are not important differences</label><br>

			</div>

			<div class="question">
				<p>20. Would you say that any of the parties in the United States represent your views reasonably well?</p>
					<input type="radio" name="q24" value="0" id="q24_0" onclick="getQuestion25(true)" />
					<label for="q24_0">Yes</label><br>
					<input type="radio" name="q24" value="1" id="q24_1" onclick="getQuestion25(false)" />
					<label for="q24_1">No</label><br>

			</div>


			<div class="question" id="q25IDa" style="display: none;">
				<p>21. Which party represents your view best?</p>
					<input type="radio" name="q25" value="0" id="q25_0" />
					<label for="q25_0">Democrat Party</label><br>
					<input type="radio" name="q25" value="1" id="q25_1" />
					<label for="q25_1">Republican Party</label><br>
					<input type="radio" name="q25" value="2" id="q25_2" />
					<label for="q25_2">Other</label> <input type="text" name="q25a" value="" id="q25_2" /><br>
			</div>


			<div class="question" id="q25IDb" style="display: none;">
				<p>21. Some people say we should have a third major political party in this country in addition to the Democrats and Republicans. Do you agree or disagree?</p>
					<input type="radio" name="q25" value="0" id="q25_0" />
					<label for="q25_0">Agree</label><br>
					<input type="radio" name="q25" value="1" id="q25_1" />
					<label for="q25_1">Disagree</label><br>
			</div>

            <div id="q26ID" style="display: none;">
			<div class="question">
				<p>22. How strongly do you agree or disagree with the following statement: “It doesn’t make sense to vote for a third party candidate in America because they have no chance of winning.” </p>
					<input type="radio" name="q26" value="0" id="q26_0" />
					<label for="q26_0">Agree Strongly</label><br>
					<input type="radio" name="q26" value="1" id="q26_1" />
					<label for="q26_1">Agree Somewhat</label><br>
					<input type="radio" name="q26" value="2" id="q26_2" />
					<label for="q26_2">Neither agree of disagree</label><br>
					<input type="radio" name="q26" value="3" id="q26_3" />
					<label for="q26_3">Disagree Somewhat</label><br>
					<input type="radio" name="q26" value="4" id="q26_4" />
					<label for="q26_4">Disagree Strongly</label><br>
			</div>



			<br><br>
			<% @results.each do |k, v| -%>
				<%= hidden_field_tag k, v %>
			<% end %>

            <input type="button" name="commit" onclick="validatePage()" value="Continue" />

            </div>

			<% end %>
<%= @data %>
		</div>
	</div>
