<div id="header">
		<h1>Survey</h1>
		<hr size="1">
    <script type="text/javascript">
        function validatePage() {
            var isValid = true;
            var error = "";

            //Loop through to see if there are any errors, going in reverse
            if(!isRadioSelected("q31")){ isValid = false; error = getErrorText(27); }
            if(!isRadioSelected("q30")){ isValid = false; error = getErrorText(26); }
            if(!isRadioSelected("q28")){ isValid = false; error = getErrorText(24); }

            if (document.getElementsByName("q31")[0].checked == true) {
                if(!isRadioSelected("q32")){ isValid = false; error = getErrorText(28); }
            }

            if (document.getElementsByName("q32")[0].checked == true) {
                if(!isRadioSelected("q33")){ isValid = false; error = getErrorText(29); }
            }

            if (document.getElementsByName("q33")[0].checked == true) {
                if(!isRadioSelected("q34")){ isValid = false; error = getErrorText(30); }
            }

            //Loop through the text boxes
            if (!isTextBoxRangeValid("q27")){ isValid = false; error = "Question 23: please enter a valid age."; }

            if (isValid == true) {
                frm.submit();
            } else {
                document.getElementById("errorText").innerHTML = error;
                alert(error);
            }
        }

        function getQuestion(number, show) {
            if (show == true)
            {
                document.getElementById("q"+ number +"ID").style.display = "block";
            } else {
                for(var i = 0; i < document.getElementsByName("q"+ number).length; i++) {
                  document.getElementsByName("q"+ number)[i].checked = false;
                }
                document.getElementById("q"+ number +"ID").style.display = "none";
            }
        }
    </script>
	</div>

	<div id="body">
		<div id="content">

		<%= form_tag 'p013', :id => 'frm' do -%>


            <div id="errorText" style="color: red;"></div>

			<div class="question">
				<p>23. How old are you?</p>
					<input type="text" name="q27" value="" id="q27_0" />
					<label for="q27_0"></label><br>

			</div>

			<div class="question">
				<p>24. Are you Male or Female?</p>
					<input type="radio" name="q28" value="0" id="q28_0" />
					<label for="q28_0">Male</label><br>
					<input type="radio" name="q28" value="1" id="q28_1" />
					<label for="q28_1">Female</label><br>
			</div>

			<div class="question">
				<p>25. What state do you live in?</p>

                <select name="q29">
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>

                <br>
            </div>


			<div class="question">
				<p>26. What is the highest level of education you have <em>completed</em>?</p>
					<input type="radio" name="q30" value="0" id="q30_0" />
					<label for="q30_0">Did not graduate from high school</label><br>
					<input type="radio" name="q30" value="1" id="q30_1" />
					<label for="q30_1">High school diploma</label><br>
					<input type="radio" name="q30" value="2" id="q30_2" />
					<label for="q30_2">Associates or other two-year degree</label><br>
					<input type="radio" name="q30" value="3" id="q30_3" />
					<label for="q30_3">Four year degree (BA, BS, etc.)</label><br>
					<input type="radio" name="q30" value="4" id="q30_4" />
					<label for="q30_4">Masters degree</label><br>
					<input type="radio" name="q30" value="5" id="q30_5" />
					<label for="q30_5">PhD or MD</label><br>
					<input type="radio" name="q30" value="6" id="q30_6" />
					<label for="q30_6">Other </label>
					<input type="text" name="q30a" value="" id="q30_6a" />
					<br>

			</div>

			<div class="question">
				<p>27. Are you a college student?</p>
					<input type="radio" name="q31" value="0" id="q31_0" onclick="getQuestion(32, true)" />
					<label for="q31_0">Yes</label><br>
					<input type="radio" name="q31" value="1" id="q31_1" onclick="getQuestion(32, false); getQuestion(33, false); getQuestion(34, false)" />
					<label for="q31_1">No</label><br>

			</div>

			<div class="question" id="q32ID" style="display: none;">
				<p>28. Where do you go to college?</p>
					<input type="radio" name="q32" value="0" id="q32_0" onclick="getQuestion(33, true)" />
					<label for="q32_0">Westmont College</label><br>
					<input type="radio" name="q32" value="1" id="q32_1" onclick="getQuestion(33, false); getQuestion(34, false)" />
					<label for="q32_1">UCSB</label><br>
					<input type="radio" name="q32" value="2" id="q32_2" onclick="getQuestion(33, false); getQuestion(34, false)" />
					<label for="q32_2">SBCC</label><br>
					<input type="radio" name="q32" value="3" id="q32_3" onclick="getQuestion(33, false); getQuestion(34, false)" />
					<label for="q32_3">University of Denver</label><br>
					<input type="radio" name="q32" value="4" id="q32_4" onclick="getQuestion(33, false); getQuestion(34, false)" />
					<!-- <label for="q32_4">SUNY Postdam</label><br>
					<input type="radio" name="q32" value="5" id="q32_5" onclick="getQuestion(33, false); getQuestion(34, false)" /> -->
					<label for="q32_5">Other</label>
					<input type="text" name="q32a" value="" id="q32_5a" />
					<br>

			</div>

                        <div class="question" id="q33ID" style="display: none;">
				<p>29. Have you taken a course from Professor Knecht?</p>
					<input type="radio" name="q33" value="0" id="q33_0" onclick="getQuestion(34, true)" />
					<label for="q33_0">Yes</label><br>
					<input type="radio" name="q33" value="1" id="q33_1" onclick="getQuestion(34, false)" />
					<label for="q33_1">No</label><br>
					<br>

			</div>

                        <div class="question" id="q34ID" style="display: none;">
				<p>30. Have you heard his lecture on strategic voting or third party voting?</p>
					<input type="radio" name="q34" value="0" id="q34_0" />
					<label for="q34_0">Yes</label><br>
					<input type="radio" name="q34" value="1" id="q34_1" />
					<label for="q34_1">No</label><br>
					<br>

			</div>


			<br><br>
            <% @results.each do |k, v| -%>
                <%= hidden_field_tag k, v %>
            <% end %>

            <input type="button" name="commit" onclick="validatePage()" value="Continue" />

			<% end %>
<%= @data %>
		</div>
	</div>
