h1
{
	font:30px/15px times,serif;
	text-align:center;
}

h2
{
	font:15px/1px times,serif;
	text-align:center;
}
h3
{
	font:25px times,serif;
}
h4
{
	font:20px times,serif;
	text-decoration: underline;
}

p
{
	text-align:justify;
}

img
{
	margin-bottom:5px;
	
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

a:visited
{
	color:blue;
}


#header
{
	width:800px;
	margin:auto;
	text-align:center;
}

#header a
{
	font:30px/15px times,serif;
	text-decoration: none;
	color:#000000;
}

#body
{
	width:800px;
	margin:auto;
}

#imglink
{
	padding:50;
	padding-top:10;
	width:300;
	float:left;
}

#imglink img
{
	padding:25px;
}

#imglink a
{
	text-decoration: none;
	font:25px/2px times,serif;
	color: #000000;
	margin-left:5px;
	display:block;
}

#navbar
{
	width: 220px;
	float:right;
	border-right:1px solid #d2d2d2;
	overflow:hidden;
	border: 1px solid #d2d2d2;
}

#content {
	overflow: hidden;
	float: left;
	margin-left: 15px;
	margin-bottom: 50px;
	width: 750px;	
}

#content img
{
	width: 560px;
}

#thumbs img
{
	padding: 13px;
	width:250px;
}

#results {
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
	padding: 15px;
	width: 300px;
	border: 1px solid #000000
}

// ------------------- API NEWS ARTICLE ------------------------
.news {
  background-image: url(image_path('news_back.jpg'));
  background-repeat: no-repeat;
  width: 800px;
  height: 322px;

  padding-top: 5px;
  padding-left: 64px;

  color: #3d3d3d;
  font-family: "Century";
}

.news_header {
  font-size: 25px;
  font-weight: bold;
  width: 429px;
  margin-top: 300px;
  vertical-align: top;
}

.news_content {
  margin-left: 35px;
  width: 200px;
  max-height: 297px;
  vertical-align: top;
}