h1
{
	font:30px/15px times,serif;
	text-align:center;
}

h2
{
	font:15px/1px times,serif;
	text-align:center;
}
h3
{
	font:25px times,serif;
}
h4
{
	font:20px times,serif;
	text-decoration: underline;
}

p
{
	text-align:justify;
}

img
{
	margin-bottom:5px;
	
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

a:visited
{
	color:blue;
}


#header
{
	width:800px;
	margin:auto;
	text-align:center;
}

#header a
{
	font:30px/15px times,serif;
	text-decoration: none;
	color:#000000;
}

#body
{
	width:800px;
	margin:auto;
}

#imglink
{
	padding:50;
	padding-top:10;
	width:300;
	float:left;
}

#imglink img
{
	padding:25px;
}

#imglink a
{
	text-decoration: none;
	font:25px/2px times,serif;
	color: #000000;
	margin-left:5px;
	display:block;
}

#navbar
{
	width: 220px;
	float:right;
	border-right:1px solid #d2d2d2;
	overflow:hidden;
	border: 1px solid #d2d2d2;
}

#content {
	overflow: hidden;
	float: left;
	margin-left: 15px;
	margin-bottom: 50px;
	width: 750px;	
}

#content img
{
	width: 560px;
}

#thumbs img
{
	padding: 13px;
	width:250px;
}

#blurb {
	font:16px monospace;
	overflow: hidden;
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
	width: 400px;
	
}